<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tiiime.android.inkrss">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InkRss">


        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RssFeedsActivity"
            android:label="@string/title_activity_rss_feeds"
            android:theme="@style/Theme.InkRss.NoActionBar"/>

        <activity
            android:name=".ui.activity.RssSourceEditActivity"
            android:label="@string/title_activity_rss_source_edit"
            android:theme="@style/Theme.InkRss.NoActionBar"/>
    </application>

</manifest>